<input type="file" class="file-input" (change)="onFileSelected($event)">
<br>
<img alt="No image loaded yet" [src]="this.blob | blobPipe" style="height:400px">

<div style="width: 30%">
  <ngx-image-manipulator #manipulatorComponent
                         (transformedData)="this.finishedTransform($event)"
                         (currentlyTransforming)="this.currentlyTransforming = $event"
                         [pictureData]="blob"
                         [outputType]="'imageData'"
  ></ngx-image-manipulator>
</div>

<div style="height:400px">
  <canvas [ngClass]="{'hide-canvas': this.finishedImageData === null}" #canvasElement style="height: 100%"></canvas>
</div>

<br>


<button (click)="this.startTransform()" [disabled]="this.blob===null || this.currentlyTransforming">Transformieren!</button>
<button (click)="this.stopTransform()" [disabled]="!this.currentlyTransforming">Stoppen</button>
